body{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    background:  linear-gradient(45deg, #47e3ff, #26a0c9, #000000);
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
}
.logo{
    width: 100%;
    height: 100%;
    display:flex;
    margin-top: 50%;
    animation: scroll2 4s both;
    }
    @keyframes scroll2{
        from{
            margin-top: 50%;
        }
        to{
            margin-top: 0;
        }
    }



.container{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    opacity: 0;
    animation: revelar 5s both;
}



@keyframes revelar{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.foto{
    display: flex;
    flex-direction: row;
}
.eu{
   display: flex;
   justify-content: row;
}
.infos{
    margin-top: 60px;
    margin-right: 30px;
}
.chart{
    display: flex;
    flex-direction: column;
}
.chartJs{
    display: flex;
    flex-direction: row;
}
.chartCSs{
    display: flex;
    flex-direction: row;
}
.chartHtml{
    display: flex;
    flex-direction: row;
}

.paragrafo{
    padding-top: 50px;
    color: #FFF;
    margin-bottom: 130px;
}

.js{
    width: 0px;
    height: 30px;
    overflow: hidden;
    background:linear-gradient(to right, #00eeff, rgb(0, 153, 255));
    border: solid 1px  rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 10px;
    transform: translateX(0%);
    animation: reveal 7s both;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    
}
.js:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
.css{
    width: 0px;
    height: 30px;
    overflow: hidden;
    background:linear-gradient(to right, #00eeff, rgb(0, 153, 255));
    border: solid 1px  rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 10px;
    transform: translateX(0%);
    animation: reveal2 7s both;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.css:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
.html{
    width: 0px;
    height: 30px;
    overflow: hidden;
    background:linear-gradient(to right, #00eeff, rgb(0, 153, 255));
    border: solid 1px  rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    justify-items: center; 
    padding-top: 10px;
    transform: translateX(0);
    animation: reveal3 7s both;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    
}
.html:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
@keyframes reveal{
    from{
        width: 0;
    }
    to{
         width: 200px;
    }
}
@keyframes reveal2{
    from{
        width: 0;
    }
    to{
         width: 300px;
    }
}
@keyframes reveal3{
    from{
        width: 0;
    }
    to{
         width: 150px;
    }
}


@keyframes colors{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

:root {
    --cor-principal: rgb(59, 200, 255);
    --cor-secundaria: rgb(255, 255, 255);
}
footer {
    flex-shrink: 0;
    position: absolute;
    bottom:0;
    color: #FFF;
}


nav {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li{
    border-bottom: 1px solid var(--cor-secundaria);
}

nav ul li a {
   
    color: #FFF;
    padding: 10px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    transition: background .3s;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

.paragrafo {
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .paragrafo:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
  .eu{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .eu:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

*{
    margin: 0px;
    padding: 0px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 1900px;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
